@charset'UTF-8';
 /**
 * 黑五页
 * @Author river
 * @email lijiang@ymatou.com
 * @Date 2015/11/12
 */
 @import'../_components/variables.scss';
 @import'../_components/_mixin.scss';
 @import'../_components/reset.scss';

 @import'../_components/column.scss';

 @import'../assets/ymtUI.scss';
 @import'../assets/ymt_components.scss';

 $rem: 1rem/32;

 //$imgPath:'/images/black_five/';
 $imgPath:'http://staticontent.ymatou.com/images/black_five/';

.mask{
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;

    background: rgba(0,0,0,.7);
    &.open
    {
        display: block;
    }
}


.bg__full{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.bf-banner-hd{
    background-image:url(#{$imgPath}bf-banner_cut.jpg);
    background-size:contain;
    width:100%;
    height:$rem*673;
    text-align:right;
    position:relative;
    background-color:#e93d3d;
    .activity-detail{
        font-size:$rem*24;
        color:#fff;
        padding:$rem*10 $rem*25;
        border-top-left-radius:$rem*44;
        border-bottom-left-radius:$rem*44;
        background-color:rgba(0,0,0,.4);
        position:absolute;
        top:$rem*450;
        right:0;
        &:after{
            content:'?';
            display:inline-block;
            font-size:$rem*17;
            width:$rem*25;
            height:$rem*25;
            border:1px solid #fff;
            border-radius:50%;
            text-align:center;
            margin-left:$rem*5;
        }
    }
}

//领取优惠券
.bf-coupon{
    &-wrapper{
       background-color:#e93d3d;
       padding-bottom:$rem*35;
    }
    &-inner{
        background-image:url(#{$imgPath}coupon.png);
        background-size:contain;
        width:100%;
        min-height:$rem*391;
        margin:0 auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.bf-area{
    padding:$rem*30 $rem*10;
    &-hd{
        background-size:contain;
        margin-bottom:$rem*40;
        @extend .bg__full;
    }
    &-bd{
        margin-bottom:$rem*18;
    }
}
//秒杀
.bf-seckill{
    background:#fe6a60;
    &-list{
        height:100%;
          white-space: nowrap;
          width:100%;
    }
    &-item{
        display:inline-block;
        height:100%;
        width:100%;
    }
    &-pro{
        height:100%;
    }
    .bf-area-hd{
        background-image:url(#{$imgPath}seckill.png);
        width:100%;
        height:$rem*84;
        margin:0 auto $rem*20;
        background-repeat:no-repeat;
        background-position:center;
    }
    .bf-area-bd{
        background:#fff;
        height:$rem*390;
        overflow:hidden;
    }
}
//砍价团
.bf-group{
    background-color:#ffbb19;
    position:relative;
    width: 100%;
     overflow: hidden;
     box-sizing: border-box;
    &-list{
        white-space: nowrap;
    }
    &-item{
        display:inline-block;
    }
    .bf-area-hd{
        background-image:url(#{$imgPath}group-title-cut.jpg);
        width:100%;
        height:$rem*73;
        background-repeat:no-repeat;
        background-position:center;
    }
    &-pro{
        width:100%;
        height:$rem*476;
        position:relative;
    }
    &-count{
        font-size:$rem*24;
        color:#fff;
        padding:$rem*4 $rem*22;
        background:#c33;
        position:absolute;
        left:$rem*40;
        bottom:$rem*25;
        border-radius:$rem*50;
    }
    //砍价团分页
    &-pagination{
        position:absolute;
        bottom:$rem*40;
        left:0;
        text-align:center;
        width:100%;
        .swiper-pagination-bullet{
            width:$rem*15;
            height:$rem*15;
            border-radius:50%;
            background:#ffa8a3;
            margin-right:$rem*15;
            display:inline-block;
        }
        .swiper-pagination-bullet-active{
            background:#ff5247;
        }
    }
    .bf-area-bd{
        margin:0 $rem*-10;
    }
}
//全球买手
.bf-seller{
    background:#ff5247;
    .bf-area-hd{
        //background-image:url(#{$imgPath}seller-title.png);
        width:$rem*704;
        height:$rem*347;
        margin:0 auto;
        margin-bottom:$rem*22;
    }
    .bf-area-ft{
        padding-bottom:$rem*40;
    }
    .bf-seller-item{
        background:#ffe1df;
        .seller-info{
            padding:$rem*11 $rem*16;
             font-size:$rem*24;
             color:#42210e;
             overflow:hidden;
            &>.info{
                &:after{
                    content:'';
                    display:table;
                    clear:both;
                }
            }
        }
        .seller-pic{
            width:$rem*115;
            height:$rem*115;
            border-radius:50%;
            float:left;
            margin-right:$rem*12;
        }
        .info{
            margin-top:$rem*10;
        }
        .national-info{
            color:#765a52;
            .flag{
                width:$rem*27;
                height:$rem*27;
                display:inline-block;
                border-radius:50%;
                margin-right:$rem*15;
            }
        }
        .seller-btn{
            width:100%;
            height:$rem*50;
            margin-top:$rem*10;
            &>span{
                display: block;
                float: left;
                height:100%;
                width:50%;
                text-align:center;
                font-size:$rem*20;
                line-height:$rem*50;
               &:first-child{
                    border:1px dashed #ff9f9a;
                    color:#ff5247;
               }
               &:last-child{
                background:#ff5247;
                color:#fff;
                height:$rem*45;
                font-size:$rem*24;
                line-height:$rem*45;
                box-shadow: 0 $rem*5 #CA362C;

               }
            }
            &.received{//已领取
               &>span{
                    &:first-child{
                         border:1px dashed #cdbdbc;
                         color:#999;
                    }

               }
            }
        }
        .pro-info{
            background:#fff;
            padding:$rem*13 $rem*11;
            .pro-pic{
                height:$rem*337;
            }
        }
    }
}
//查看更多
.see-more{
    height:$rem*63;
    line-height:$rem*63;
    border:1px dashed #fff;
    border-radius:$rem*63;
    text-align:center;
    font-size:$rem*30;
    color:#fff;
}
//列表
@include column('.bf-',2,$rem*10);
@include column('.bf-',3,$rem*10);

.usa_seller{
    //background-image:url(#{$imgPath}usa_seller.png);
    width:100%;
    height:$rem*197;
    margin:$rem*50 0 $rem*10;
}
.jsk_seller{
    //background-image:url(#{$imgPath}jsk_seller.png);
}
.europe_seller{
    //background-image:url(#{$imgPath}europe_seller.png);
}
.australia_seller{
    //background-image:url(#{$imgPath}australia_seller.png);
}

.jsk_seller,
.europe_seller,
.australia_seller{
    height:$rem*308;
}

//黑五必败
.bf-losing{
    background:#ff5470;
    padding-bottom: 0;
    padding-top: 0;
    .bf-area-hd{
        background-image:url(#{$imgPath}losing-title.png);
        width:100%;
        height:$rem*106;
        margin:0 auto;
        margin-bottom:$rem*22;
        background-repeat:no-repeat;
        background-position:center;
        padding-top:$rem*22;
    }
    .bf-area-bd{
        margin-bottom: 0;
    }
    .bf-area-ft{
        margin-top:$rem*18;
        padding-bottom:$rem*22;
    }
}

.losing-pro-wrapper{
    background: #FFF;
    padding-bottom:$rem*18;
    margin-bottom:$rem*10;
    .pic{
        height:$rem*360;
        background-size: contain;
          background-position: top;
    }
    .info{
        padding:0 $rem*22;
        font-size:$rem*22;
        color:#a3a3a3;
        margin-top:$rem*10;
        &>h4{
            color:#333;
            height:$rem*66;
            @include textOverFlow(2);
        }
        .original-price{
            margin:$rem*10 0;
        }
    }
    .price-wrapper{
        width:100%;
        height:$rem*60;
        line-height:$rem*60;
        border:1px solid #ff5247;
        border-radius:$rem*60;
        box-shadow: 0 2px #a22f27;
        background-color: #FF5247;
        &>span{
            display:inline-block;
            height:100%;
            text-align:center;
            float:left;
        }
        &>:first-child{
            background:#fff;
            color:#ff524b;
            border-top-left-radius: $rem*60;
            border-bottom-left-radius: $rem*60;
            width:40%;
            font-weight:bold;
        }
        &>:last-child{
            background:#ff5247;
            color:#fff;
            border-top-right-radius: $rem*60;
            border-bottom-right-radius: $rem*60;
            width:60%;
            &>strong{
                font-size:$rem*35;
                font-weight:bold;
            }
        }
    }
    .national-flag{
        display:inline-block;
        width:$rem*25;
        height:$rem*25;
        background-size:contain;
        background-repeat:no-repeat;
        vertical-align: middle;
        margin-right:$rem*10;
    }
}

.losing-watch{
    font-size:$rem*32;
    color:#fff;
    text-align:center;
    height:$rem*96;
    line-height:$rem*96;
    &>h3{
        height:$rem*48;
        border-bottom:2px solid #fff;
        &>span{
            padding:0 $rem*28;
            background:#ff5470;
        }
    }

}
//全球好货
.bf-goods{
    background:#fff;
    padding:0;
    overflow:hidden;
    .see-more{
        color:#000;
        border-color:#6a6a6a;

    }
    .bf-area-ft{
        background:#eeeeee;
        padding:$rem*18 $rem*10 $rem*35;
    }
}

//1配7 全球好货
.goods-item{

}
.goods-banner{
    height:$rem*400;
    //border:1px solid #ffd9df;
    position:relative;
    &:after{
        content:'';
        border:$rem*12 solid transparent;
        margin-left:$rem*-6;
        position:absolute;
        left:50%;
        bottom:0;
        border-bottom-color:#fff;
    }
}

.goods-pic{
    &-list{
        background:#f8f8f8;
        padding:$rem*18 0;
        white-space: nowrap;
    }
    &-item{
        background:#fff;
        margin-right:$rem*8;
        display:inline-block;
        text-align:center;
        width:$rem*200;
        font-size:$rem*22;
        color:#3c3c3c;
        vertical-align: top;
        h4{
           height: $rem*33;
           overflow: hidden;
           white-space: nowrap;
           text-overflow: ellipsis;
        }
        .pic{
            height:$rem*200;
            line-height:$rem*200;
            margin-bottom:$rem*15;
        }
        .pirce{
            color:#c33;
            font-size:$rem*14;
            strong{
                font-size:$rem*20;
            }
        }
         .original-price{
            font-size:$rem*12;
            color:#999;
            strong{
                font-size:$rem*15;
            }
         }
    }
}

//大熊
.big-bear{
    //background-image:url('');
    height:$rem*407;
}

.bf-tab{
    position:fixed;
    left:0;
    right:0;
    bottom:$rem*7;
    font-size:$rem*25;
    height:$rem*200;
    transition: transform 0.25s ease-in-out;
    will-change:transform;
    z-index:3;
    &.fixed-out{
        transform: translate(0, 100%);
        bottom:0!important;
    }
    &-wrapper{
        height:$rem*105;
        position:relative;
        background-color: #fff;
        &.show{
            .bf-tab{
                transform: translate(0, 100%);
                bottom:0!important;
            }
        }

    }
  &-hd{
        position:relative;
        height:$rem*94;
        z-index:2;
        left:0;
        span{//小洋人
            z-index:2;
            position:relative;
            transition: left 0.25s ease-in-out;
            will-change:transform;
            &:before{
                content:'';
                position:absolute;
                left:0;
                top:0;
                width:$rem*38;
                height:$rem*68;
                animation: sign-sway 3s infinite alternate;
                will-change:transform;
                background-image:url(#{$imgPath}balloon.png);
                @extend .bg__full;
            }
            &:after{
                content:'';
                position:absolute;
                left:$rem*26;
                //bottom:$rem*-12;
                top:$rem*28;
                background-image:url(#{$imgPath}people.png);
                width:$rem*70;
                height:$rem*70;
                 @extend .bg__full;
            }
        }

        &:after{
            content:'';
            background-image:url(#{$imgPath}tab_bg.png);
            @extend .bg__full;
            position:absolute;
            width:$rem*191;
            height:$rem*84;
            right:$rem*25;
            bottom:$rem*-10;
        }
    }
    &-bd{
        position:relative;
        display: -moz-box;
            display: -webkit-box;
            display: box;
        &>ul{
            position:relative;
            bottom:0;
            -moz-box-flex: 1;
            -webkit-box-flex: 2;
            box-flex: 1;
            &:before{
                content:'';
                position:absolute;
            }
            &:before{
                width:$rem*40;
                height:$rem*30;
                left:$rem*10;
                top:$rem*5;
                 @extend .bg__full;
                background-image:url(#{$imgPath}tab-left-flag.png);
            }
            height:$rem*94;
            line-height:$rem*94;
            color:#fff;
            text-align:center;
            background: #363636;
            border-bottom-left-radius:$rem*94;
            border-top-left-radius:$rem*94;
            box-shadow: 0 $rem*6 #6F6F6F;
        }

        li{
            float:left;
            overflow:hidden;
            //a{
                display:block;

                //padding:0 $rem*12;
                height:100%;
                width:20%;
                color:#fff;
                position:relative;
                z-index: 3;
           //}
            &:first-child{
                border-top-left-radius:$rem*94;
                border-bottom-left-radius:$rem*94;
            }
            &.active{
               a{
                   // background:#e7392d;
                }
            }
        }
    }

    //active坐标
    .coordinate{
        background:#e7392d;
        position:absolute;
        width:$rem*124;
        height:$rem*94;
        top:0;
        left:0;
        transition: all 0.25s ease-in-out;
        &.first{
            border-top-left-radius:$rem*94;
            border-bottom-left-radius:$rem*94;
        }
    }
    .bear-header{
        background-image:url(#{$imgPath}bear-header.png);
        width:$rem*101;
        height:$rem*110;
        @extend bg__full;
        z-index: 2;
        right: 0;
        bottom: $rem*10;
        display:block;
        position:relative;
    }
}
//气球摆动
@keyframes sign-sway {
  0% {

    transform: translateX(10%) rotate(-10deg);
  }

  100% {

    transform: translateX(30%)  rotate(10deg);
  }
}

.img-hold{
    background-image:url(#{$imgPath}loading_cut.jpg);
}

//
.J-module-Hold{
    min-height:$rem*300;
}
//领取礼包
.receive-package{
    &.succ{
        .package-bg{
            background-image:url(#{$imgPath}bg-dialog-succ.png);
        }
        .share-btn{
            left:50%;
            transform:translate(-50%);
              display: block;
        }
        .share-tools{
            display:none;
        }
    }
    &-mask{
        @extend .mask;
    }
    &-dialog{

        @extend .bg__full;
        width:$rem*750;
        height:$rem*520;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 100;
        margin-left:-$rem*375;
        margin-top:-$rem*298;
        background-position: top;
        display:none;
        .package-bg{
            width:$rem*648;
            height:$rem*393;
            margin:0 auto;
            background-image:url(#{$imgPath}bg-dialog.png);

        }
        .close-flag{
            position:absolute;
            width:$rem*50;
            height:$rem*50;
            line-height:$rem*50;
            border:$rem*3 solid #fff;
            border-radius:50%;
            color:#fff;
            background:#000;
            text-align:center;
            right:$rem*55;
            top:$rem*20;
        }
        &.open{
            display:block;
        }
        &-bd{
            position:relative;
            height: 100%;
        }
        .succ-btn{
            display:none;
        }
        .share-btn,
        .close-btn{
             position:absolute;
             width:$rem*313;
             height:$rem*96;
             line-height:$rem*96;
             bottom:0;
             border-radius:$rem*16;
             font-size:$rem*55;
             color:#410005;
             text-align:center;
             font-weight:bold;
             &.center-btn{
                 right: 50%;
                 transform: translate(50%,0);
             }
        }
        .close-btn{
            right:$rem*46;
            background-color:#fdd4da;
            box-shadow:0 $rem*14 #fba5b3;
        }
        .share-btn{
            color:#fff;
            left:$rem*56;
            background-color:#fe4855;
            box-shadow:0 $rem*14 #b83740;
        }
    }
}
/*
.lazyload.transition{
    animation: fadeIn 1s both;
}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}} */
