@charset'UTF-8';
 /**
 * 梅西百货
 * @Author river
 * @email lijiang@ymatou.com
 * @Date 2015/11/23
 */
 @import'../_components/reset.scss';

 @import'../assets/ymtUI.scss';
 @import'../assets/ymt_components.scss';
 @import'./_proList.scss';

 $rem: 1rem/32;

 $imgPath:'/images/black_five/';
 // $imgPath:'http://staticontent.ymatou.com/images/black_five/';

.bg__full{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.bf-department-banner{
    background-image:url(#{$imgPath}department/saks_banner.jpg);
    height:$rem*456;
    @extend .bg__full;
    position: relative;

    .bf-department-desc {
        font-size: $rem*22;
        line-height: 1.6;
        color: #fff;
        padding: 0 $rem*52;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom: 0;
    }
}



.bf-area {
    background-color: #c2801d;
    .bf-area-hd {
        .bf-area-title {
            color: #fff;
            padding: $rem*20 $rem*12;
            .title-main {
                display: block;
                text-align: left;
                font-size: $rem*45;
                font-weight: 900;
            }
            .title-sub {
                display: block;
                font-size: $rem*24;
                text-align: left;
            }
        }
    }
    .bf-area-bd {
        padding: 0 $rem*10;
        .bf-list {

        }
    }
}

.load-over{
    font-size:$rem*24;
    text-align:center;
    color:#fff;
    height:$rem*80;
    line-height:$rem*80;
}


@include productList(#ff5140);
