 @charset "UTF-8";
/**
 * 购物节 首页
 * @Author river
 * @email lijiang@ymatou.com
 * @Date 2015/10/12
 */

 @import "../_components/variables.scss";
 @import "../_components/_mixin.scss";
 @import "../_components/reset.scss";

$rem:1rem/32;
.gwj-tab{
    &-wrapper{
        height:$rem*74;
    }
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    font-size:$rem*20;
    background: #42210E;
    transition: transform 0.25s ease-in-out;
    &.fixed{
        transform: translate(0,100%);
    }
    &>a{
        width:20%;
        float:left;
        text-align:center;
        color:#fff;
        background:#42210e;
        height:$rem*74;
        line-height:$rem*74;
        &.active{
            background:#fefb32;
            color:#42210e;
        }
    }
}
.gwj-top-banner{
    height:$rem*456;
    background:url(/images/gwj/top_banner.png) no-repeat;
    background-size: 100% 100%;
    position:relative;
}
.pk-big-btn{
    background:url(/images/gwj/pk_big_btn.png) no-repeat;
    background-size: 100% 100%;
    height:$rem*158;
    width:95%;
    margin:0 auto;
    position:absolute;
    bottom:$rem*18;
    left:$rem*16;
}

//标题栏
.gwj-title-wapper{
    height:$rem*67;
    width:$rem*490;
    border:1px solid #42210e;
    border-bottom:0;
    position:relative;
    margin: 0 auto;
    margin-top:$rem*70;
    .gwj-title{
        width:$rem*390;
        height:$rem*97;
        background:url(/images/gwj/title_pk.png) no-repeat;
        background-size:100% 100%;
        position:absolute;
        left:50%;
        top:$rem*-5;
        transform: translate(-50%, -50%);
    }
    .gwj-title-02{
        background-image:url(/images/gwj/title_group.png);
    }
    .gwj-title-03{
        background-image:url(/images/gwj/title_03.png);
        width:$rem*408;
        height:$rem*102;
    }
    .gwj-title-04{
        background-image:url(/images/gwj/title_04.png);
        width:$rem*408;
        height:$rem*102;
    }
    .gwj-title-05{
        background-image:url(/images/gwj/title_05.png);
        width:$rem*408;
        height:$rem*102;
    }
}
//转盘
.turntable{

  &-wrapper{
    background:#fffce0;
    padding:$rem*15 $rem*30;
    .rule{

        &-title{
            background:url(/images/gwj/rule_title.png) no-repeat center;
            background-size:contain;
            height:$rem*26;
            margin:$rem*15 0;
        }
        &-content{
            font-size:$rem*14;
            color:#42210e;
            .close{
                display:none;
            }
            .retract{
                text-align:center;
                margin:$rem*15 0;
                font-weight:bold;
                &:after{
                    content:'';
                    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHCAMAAAAPmYwrAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABgUExURUxpcXt7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e5ceIc8AAAAfdFJOUwDnCAWOGM/+vgNL7B6HhlBR7yPxnCWZG8UfKCrDvce5gzORAAAAS0lEQVQI1z2MRQ7AMADDUlpxzJj//3JSBz7FUmRsbsVLOnc4xvBYiDwwL7SVB3xpeSVAaUtnjKPVKr+ankKwrb/GWJBFhx85TDKPG8r9A3SMeNZnAAAAAElFTkSuQmCC) no-repeat;
                    display:inline-block;
                    background-size:contain;
                    width:$rem*14;
                    height:$rem*7;
                    transition: transform .25s ease-in-out;
                    vertical-align: middle;
                }
                &.handstand{
                    &:after{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
  }
  &-header,
  &-footer{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  &-header{
    background-image:url(/images/gwj/turntable_header.png);
    height:$rem*12;
  }
  &-footer{
    background-image:url(/images/gwj/turntable_footer.png);
    height:$rem*10;
  }
  &-body{
    background:#fff url(/images/gwj/turntable_body.png);
    background-repeat-x: no-repeat;
    background-size: 100%;
    padding:$rem*20;
    overflow:hidden;
    //margin-right:$rem*-8;
    position:relative;
    &>div,
    .starter{
      width:$rem*170;
      height:$rem*170;
      float:left;
      border:$rem solid #612922;
      margin-right:$rem*10;
      margin-bottom:$rem*10;
    }
    .board{
      font-size:$rem*18;
      color:#fff;
      text-align:center;
      background-color: #ef3d72;
      background-size: $rem*80 $rem*80; /* 控制条纹的大小 */
      background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                                  color-stop(.25, rgba(241, 81, 128,.8)), color-stop(.25, transparent),
                                  color-stop(.5, transparent), color-stop(.5, rgba(241, 81, 128,.8)),
                                  color-stop(.75, rgba(241, 81, 128,.8)), color-stop(.75, transparent),
                                  to(transparent));
      .coupon{
        background:url(/images/gwj/coupon_bg.png) no-repeat;
        text-align:center;
        width:$rem*142;
        height:$rem*60;
        color:#ef3d72;
        margin:$rem*40 auto $rem*28;
        font-size:$rem*40;
          background-size: cover;
        small,
        span{
          font-size:$rem*18;
        }
        small{
          vertical-align: super;
        }
      }
      .img{
         margin:$rem*20 auto $rem*10;
         width:$rem*98;
         height:$rem*98;
         img{
            width:100%;
         }
      }
      &.active{
        .coupon{
          background-position:-$rem*142 0;
          color:#fff;

        }
        .txt{
          color:#EF3D72;
        }
      }
    }
    .starter{
      background:#ffee30;
      &.clicked,
      &:active{
        .btn{
            background-position:-$rem*120 0 ;
        }
      }
      .btn{
        background:url(/images/gwj/start_btn.png) no-repeat;
        width:$rem*120;
        height:$rem*90;
        margin:$rem*20 auto;
          background-size: cover;
      }
      .start_txt{
        background:url(/images/gwj/start_txt.png) no-repeat;
        width:$rem*94;
        height:$rem*23;
        margin:0 auto;
          background-size: cover;
      }
    }
    //移动块
    .active{
      //position:absolute;
      left:$rem*20;
      top:$rem*20;;
      background-color: #fff;
      background-size: $rem*80 $rem*80; /* 控制条纹的大小 */
      background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                                  color-stop(.25, rgba(254, 239, 243,.8)), color-stop(.25, transparent),
                                  color-stop(.5, transparent), color-stop(.5, rgba(254, 239, 243,.8)),
                                  color-stop(.75, rgba(254, 239, 243,.8)), color-stop(.75, transparent),
                                  to(transparent));
    }
  }
}

//
.gwj-area{
    &-body{

    }
}

//砍价团
.gwj-group{
    height:$rem*446;
    position:relative;
    border-bottom:$rem solid #42210e;
    width:100%;
    overflow:hidden;
    .slide-wrapper{
        white-space: nowrap;
        img{
            width:100%;
            height:100%;
        }
    }
    .slide-item{
        display:inline-block;
        width:100%;
    }
    .slide-pagination{
        text-align:center;
        position:absolute;
        left:0;
        bottom:$rem*38;
        width: 100%;
        &>span{
            display:inline-block;
            width:$rem*15;
            height:$rem*15;
            border:$rem solid #ec3c71;
            background:#fff;
            border-radius:50%;
            margin-right:$rem*10;
            &.swiper-pagination-bullet-active,
            &.active{
                background:#ec3c71;
            }
        }
    }
}
//好货大搜罗
.gwj-area-body{}

.wares-set-item{
    border-bottom:$rem solid #e8e8e8;
    margin-bottom:$rem*14;
}

//好货大搜罗
.wares-pro{
    &-pic{
        margin-bottom:$rem*6;
        img{
            width:100%;
            min-height:$rem*385;
        }
    }
    &-list{
        overflow:hidden;
        background:#f8f8f8;
        padding-left:$rem*10;
        padding-bottom:$rem*20;
    }
    &-item{
        float:left;
        width:25%;
        padding-right:$rem*10;
        text-align:center;
        img{
            width:100%;
            height:$rem*160;
        }
        h5{
            font-size:$rem*18;
            color:#292929;
            overflow:hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .price{
            font-size:$rem*12;
            color:#b91107;
            &>strong{
                font-size:$rem*14;
            }
            &.del-price{
                color:#979797;
            }
        }
    }
}
.goods-footer{
    padding:$rem*20 $rem*18;
    border-bottom:$rem solid #42210e;
    overflow:hidden;
    .see-more{
        background:url(/images/gwj/see_more.png) no-repeat;
        background-size:contain;
        width:$rem*118;
        height:$rem*25;
        float:right;
    }
}
.buyer-set{
    &-wrapper{
        overflow:hidden;
        padding-left:$rem*18;
    }
    &-item{
        width:33.3333%;
        float:left;
        //height:$rem*403;
        padding-right:$rem*18;
        margin-bottom:$rem*20;

    }
}

.buyer-box{
    //background-image:url(/images/gwj/buyer_bg.png);
    //font-size:$rem*18;
    //color:#42210e;
    //background-size: 100% 100%;
    //padding:$rem*2 $rem*6 $rem*7 $rem*2;
    .buyer-bg{
        width:100%;
    }
    /* .pic{
        width:100%;
        height:$rem*190;
        img{
            max-width:100%;
            max-height:100%;
        }
    }
    .info-wrapper{
        padding:0 $rem*8;
        .text{
            padding:$rem*12 0 $rem*12 $rem*60;
        }
    }
    .tag{
        &:before{
            content:'';
            background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAZlBMVEUAAABCIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5CIQ5ELRjFAAAAIXRSTlMAyLCg19sKy2Dfs0nqXPby0quUfXRoQwa7uZeOiFFCJBkTwZCVAAAAlUlEQVQY003OiQ6DIBAE0EFEQK330bud///JEqwLk0A2L7PJQlLwSOuEFHtvSuM9maj+TyWFivDf1QgY5qR9Y4vYS4vdhm+PgRnh0TqjQ08WG1PhqTSCnbRxwZGWuFKH4U2H1ezx9BviiRe6+ICRdsdEW2FeAzWxZRGiWVbAkkhwfkVSQIaJEgolHD5aSJBCkqmrZf4BiFMKnZXVDF8AAAAASUVORK5CYII=) no-repeat;
            display:inline-block;
            width:$rem*19;
            height:$rem*19;
            background-size:contain;
              vertical-align: middle;
        }
        padding:$rem*15 0;
        text-align:center;
        border-bottom:$rem*2 dashed #7a7a7a;
    }
    .face{
        height:$rem*44;
        width:$rem*44;
        float:left;
        border-radius:50%;
        margin-top:$rem*12;
    }
    .country{

        img{
            height:$rem*20;
            width:$rem*20;
            border-radius:50%;
              vertical-align: middle;
        }
    }
    .btn-wrapper{
        padding-left:$rem*1;
        padding-right:$rem*5;
    }
    .btn{
        height:$rem*50;
        line-height:$rem*50;
        background:#ec3c71;
        font-size:$rem*24;
        text-align:center;
        color:#fff;

    } */
}
//海外推荐
.explosive-pro{

    &-tab{
        .tab-header{
            overflow:hidden;
            border:1px solid #040000;
            background:#fff;
            width:100%;
            padding:0 $rem*10;
            overflow:hidden;
            margin-bottom:$rem*15;
            &>li{
                width:25%;
                color:#42210e;
                float:left;
                padding:$rem*10 0;
                text-align:center;
                border-right:1px solid #42210e;
                &.active{
                    background:#ffffb5;
                }
            }

        }

        .tab-body{
            padding-left:$rem*12;
            overflow:hidden;
            &-item{
                display:none;
                &.active{
                    display:block;
                }
            }
        }
    }

    &-item{
        width:50%;
        float:left;
        padding-right:$rem*12;
        margin-bottom:$rem*12;
    }
    &-box{
        background-image:url(/images/gwj/buyer_bg.png);
        background-size: 100% 100%;
        padding:$rem*20;
        font-size:$rem*18;
        color:#333;
        .title{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom:$rem*20;
            margin-top:$rem*10;
        }
        img{
            height:$rem*260;
            width:$rem*260;
        }
        .price-box{
            width:100%;
            border:1px solid #040000;
            border-radius:$rem*6;
            color:#333;
            height:$rem*45;
            overflow:hidden;
            line-height:$rem*45;
            span{
                display:block;
                float:left;
                width:30%;
                text-align:center;
            }
            .num{
                color:#fff;
                background:#ff3385;
                width:70%;
                border-top-right-radius:$rem*6;
                border-bottom-right-radius:$rem*6;
                strong{
                    font-size:$rem*34;
                }
            }
        }
    }
}

.gwj-loading-bg{
    background: url(/images/gwj/loading.gif) no-repeat center;
}


//买手占位图
.buyer-hold{
    height:$rem*800;
    width:100%;
}
//错误
.msg-error{
  padding:$rem*5 $rem*10;
  background:rgba(0,0,0,.6);
  color:#fff;
  position:fixed;
  z-index:999;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  border-radius:$rem*5;
  display:inline;
  font-size:$rem*24;
  -webkit-transition: opacity .6s ease-in-out;
  opacity:0;
}
