@charset'UTF-8';
 /**
 * 圣诞节
 * @Author river
 * @email lijiang@ymatou.com
 * @Date 2015/12/09
 */
 @import'../_components/variables.scss';
 @import'../_components/_mixin.scss';
 @import'../_components/reset.scss';

 @import'../_components/column.scss';

 @import'../assets/ymtUI.scss';
 @import'../assets/ymt_components.scss';

 @import'../assets/common.scss';


@import'../black_five/_proList.scss';
@import'../assets/_global_good.scss';

 $imgPath:'/images/christmas/';
 //$imgPath:'http://staticontent.ymatou.com/images/christmas/';

 @include productList(#ef3b3b,#fff);

.evt-continer{
    background:#ef3b3b;
}

.evt-banner{
    height:$rem*394;
    background-image:url(#{$imgPath}banner.jpg);
    @extend .bg__full;
}

.evt-christmas{
    height:$rem*286;
    background-image:url(#{$imgPath}christmas.jpg);
    @extend .bg__full;
}

//重置全球热卖标题样式
@mixin resetHotStyle($color){
    .hot-wrapper{
        .hot-hd{
            .title{
                color:$color !important;
                &:before{
                    border-left-color:  $color !important;
                }
                &:after{
                    border-right-color:  $color !important;
                }
            }
        }
    }
}

.chr-pro{
    padding-top:$rem*5;
    &-blue{
        background:#0072ff;
        @include resetHotStyle(#0072ff);
    }
    &-yellow{
        background:#ffb400;
        @include resetHotStyle(#ffb400);
    }
    &-green{
        background:#2b9b3a;
        @include resetHotStyle(#2b9b3a);
    }

    .evt-area-hd{
        height:$rem*98;
        @extend .bg__full;
    }
    .evt-area-bd{
        padding:$rem*10;
    }
    .evt-area-ft{
        padding:0 $rem*10 $rem*10;
    }

    /* //查看更多
    .see-more{
        width:100%;
        border:2px solid #fff;
        border-radius:$rem*6;
        text-align:center;
        color:#fff;
        font-size:$rem*34;
        height:$rem*70;
        line-height:$rem*70;
        //横线
        i{
            width:$rem*40;
            height:$rem*4;
            background:#fff;
            display:inline-block;
            vertical-align: middle;

        }
        span{
            margin:0 $rem*25;
        }
    } */

    .hot-wrapper{
        .hot-hd{
            padding:$rem*20 0;
            margin-bottom:$rem*20;
            $color:#ef3b3b;
            .inner{
                width:100%;
                border-bottom:1px solid #fff;
                height:$rem*25;
            }
            .title{
                height:$rem*50;
                line-height:$rem*50;
                width:$rem*330;
                background:#fff;
                color:$color;
                font-size:$rem*35;
                text-align:center;
                font-weight:bold;
                margin:0 auto;
                &:before,
                &:after{
                    content:'';
                    border:$rem*25 solid rgba(0,0,0,0);
                    display: inline-block;
                }
                &:before{
                    border-left-color:  $color;
                    float:left;
                    margin-left: -1px;
                }
                &:after{
                    border-right-color:  $color;
                    float:right;
                    margin-right: -1px;
                }
            }
        }
    }
}



@for $i from 1 to 7 {
    .chr-pro-0#{$i}{
        .evt-area-hd{
            background-image:url(#{$imgPath}/title0#{$i}.jpg);
        }
    }
}


//丝带页签
.ribbon-tab{
    height:$rem*88;
    position:fixed;
    bottom:$rem*175;
    left:0;
    width:100%;
    transition: transform 0.25s ease-in-out;
    will-change:transform;
    transform: translate(-100%, 0);
    &.show{
        transform: translate(0, 0);
    }
    .tab-wrapper{
        height:$rem*80;
        position: relative;
    }
    .tab-inner{
        height:100%;
        width:$rem*712;
        margin:0 auto;
        background:#1e814b;
        position:relative;
        z-index:2;
        padding-top:$rem*3;
    }
    .tab-after,
    .tab-before{
        background:#136638;
        width:$rem*27;
        height:100%;
        position: absolute;
        top:$rem*10;
        padding-top:$rem*3;
    }
    .tab-after{
        right:0;
        &:before{
            content:'';
            position:absolute;
            border:$rem*9 solid rgba(0,0,0,0);
              border-right-color: #010000;
              transform: rotate(45deg);
               bottom: 1px;
               left: -$rem*9;

        }
    }
    .tab-before{
        left:0;
        &:before{
            content:'';
            position:absolute;
            border:$rem*9 solid rgba(0,0,0,0);
              border-left-color: #010000;
              transform: rotate(-45deg);
               bottom: 1px;
               right: -$rem*9;

        }
    }
    .tab-border{
        height:$rem*70;
        border-top:1px dashed #559b76;
        border-bottom:1px dashed #559b76;
    }
    .tab-list{
        font-size:$rem*30;
        color:#fcf69e;
        padding:0 $rem*20;
        &>li{
            width:20%;
            text-align:center;
            float:left;
            line-height:$rem*70;
            &.active{
                background:#fcf69e;
                color:#1e814b;
            }
        }
    }
}

//全球买手
.seller-seeding{
    padding:$rem*10;
    padding-right:0;
    background:#fff;
    @include clearfix();
    .seller-title{
        height:$rem*376;
        width:$rem*79;
        float: left;
        margin-right:$rem*3;
        @extend .bg__full;
    }
    .seller-area{
        float:left;
        width:$rem*322;
        height:$rem*187;
        margin-right:$rem*3;
        margin-bottom:$rem*3;
        @extend .bg__full;
    }
}

.tab{
    height:$rem*173;
    nav{
        transition: transform 0.25s ease-in-out;
        will-change:transform;
        transform: translate(0, 100%);
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        height:$rem*173;
        @extend .bg__full;
        padding:0 $rem*50;
        background-image:url(#{$imgPath}tab_bg.png);
          background-position: bottom;
        padding-top:$rem*115;
        &.show{
            transform: translate(0, 0);
        }
        ul{
            width:100%;
             @include clearfix();
        }
        li{
            float:left;
            width:20%;
            text-align:center;
            color:#1e814b;
            font-size:$rem*30;
            font-weight:bold;
            &.active{
                color:#ef3b3b;
                &>span{
                    border-bottom:$rem*2 solid #ef3b3b;
                    padding-bottom:$rem*5;
                }
            }
        }
    }
}

.ymt-butler{
    bottom:$rem*300;
}
