$rem:1rem/32;
//错误
.pk-error{
  padding:$rem*5 $rem*10;
  background:rgba(0,0,0,.6);
  color:#fff;
  position:fixed;
  z-index:999;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  border-radius:$rem*5;
  display:inline;
  font-size:$rem*24;
  -webkit-transition: opacity .6s ease-in-out;
  opacity:0;
}

//pk 加载
.pk-loading{
    &.loading-fixed{
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    &:before{
        content:"";
        background:url(/images/pk_loading_100x100.gif) no-repeat;
        background-size:contain;
        width:$rem*100;
        height:$rem*100;
        display:block;
        margin:0 auto;
    }
}

.pk-hide{
  display:none!important;
}
