@charset "UTF-8";

/**
 * 洋码头组件定义
 */
@import '../_components/variables.scss';

//洋管家
.ymt-butler{
    background-image: url(http://staticontent.ymatou.com/images/activity/ygj.png);
    width:$rem*101;
    height:$rem*126;
    position:fixed;
    bottom:$rem*220;
    right:$rem*0;
    transition: transform 0.35s ease-in-out;
    will-change:transform;
    transform:translate(100%,0);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: $rem*50;
    z-index:88;
    &.show{
        transform:translate(0,0);
    }
}
